<h2>Base</h2>

<h1>h1 title</h1>
<h2>h2 title</h2>
<h3>h3 title</h3>
<h4>h4 title</h4>
<h5>h5 title</h5>
<h6>h6 title</h6>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam culpa cum,
  doloribus fuga hic labore maxime molestias placeat quisquam rem sapiente,
  voluptas! Commodi eius quod veniam. Non placeat quis sed.
</p>

<h3>Links</h3>

<a href="#" class="app-a">Link 1</a>
<a href="#" class="app-a">Link 2</a>
<a href="#" class="app-a">Link 3</a>

<h3>Button</h3>
<button class="app-button">Button</button>

<h3>Code</h3>
<code>const show = false</code>

<h3>Input</h3>
<input type="text" name="" id="" class="app-input" />

<h2>Mixins</h2>

<h3>Shadow</h3>

<div class="shadow">Shadow mixin</div>

<h3>Card</h3>
<div class="card">card</div>
