<h2>Form</h2>
<app-button (click)="onPatchValue()">Patch Value</app-button>
<app-button (click)="onToggleInline()">Toggle Inline</app-button>
<br />

<form [formGroup]="form" novalidate autocomplete="off" (ngSubmit)="onSubmit()">
  <app-form-field
    label="Input"
    [required]="true"
    [control]="form.controls.input"
    [isInline]="inline"
    [patternError]="regexError.Email"
  >
    <app-input formControlName="input" ></app-input>
  </app-form-field>
  <app-form-field
    label="Password"
    [required]="true"
    [control]="form.controls.password"
    [isInline]="inline"
  >
    <app-password formControlName="password"></app-password>

  </app-form-field>

  <app-form-field label="Select"
                  [required]="true"
                  [control]="form.controls.select"
                  [isInline]="inline">
    <app-select formControlName="select" [items]="items"></app-select>

  </app-form-field>

  <app-form-field label="Checkbox"
                  [required]="true"
                  [control]="form.controls.checkboxes"
                  [isInline]="inline">
    <app-checkboxes formControlName="checkboxes" [items]="items"></app-checkboxes>

  </app-form-field>

</form>

<code>
  {{form.value | json }}
</code>
